.about-intro-text {
    max-width: 70vw;
    width: 100%;
}

.about-content {
    max-width: calc(60vw + 30px);
    width: 100%;
}

.about-text {
    background: #f8fff8;
    border-radius: 15px;
    padding: 15px;
    margin: 20px 0 0px 0;
    box-shadow: 3px 3px 10px rgb(56, 142, 60);
}

.about-text h3 {
    margin-top: 0;
    color: #2e7d32;
    border-bottom: 1px solid #c5e1a5;
    padding-bottom: 3px;
}

.about-content-refs {
    background: #f8fff8;
    border-radius: 15px;
    padding: 15px;
    margin: 10px 0 40px 0;
    box-shadow: 3px 3px 10px rgb(56, 142, 60);
}

.about-content-refs h3 {
    margin-top: 0;
    color: #2e7d32;
    border-bottom: 1px solid #c5e1a5;
    padding-bottom: 3px;
}

.about-content-refs ul {
    list-style-type: disc;
    padding: 0 1.5vw 0 0.75vw;
    list-style-position: inside;
}

.about-content-refs li {
    margin-bottom: 5px;
    line-height: 1.6;
    color: #2e7d32;
}

.about-content-refs a,
.about-text a {
    color: #2e7d32;
    text-decoration: none;
    border-bottom: 1px dashed #81c784;
    transition: all 0.2s ease;
}

.about-content-refs a:hover,
.about-text a:hover {
    color: #1b5e20;
    border-bottom-style: solid;
}