/* Home Page Styles */

/* Town Image Container */
.town-image {
    display: block;
    width: 100%;
    height: 300px;
    margin-top: 1rem;
    border: 6px solid lightblue;
    border-radius: 85px;
    background-color: #9cf;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-self: center;
    position: relative;
    overflow: hidden;
}

/* Example town image - replace with your own image as needed */
#town1 {
    background-image: url('../../images/vally.jpg');
    background-position-y: -10rem;
}

/* Local News Styles */
#localnews {
    display: block;
    padding: 64px 0;
    max-width: 100vw;
    width: 100%;
    background-color: #ebebeb;
}

.ln-container {
    display: block;
    width: 100%;
    max-width: 1760px;
    margin: 0 auto;
    padding: 0 3vw;
    box-sizing: border-box;
}

.ln-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 64px;
    margin-bottom: 24px;

}

.ln-header h2 {
    font: bolder 35px "Roboto", sans-serif;
}

.ln-header p {
    font: bold 15px "Roboto", sans-serif;
    color: #255f27;
}

.ln-header .nav-btn {
    border-style: double;
    border-color: #ececec;
}

.ln-row {
    display: grid;
    gap: 32px 48px;
    grid-template-columns: repeat(4, 1fr);
    box-sizing: border-box;
}

.ln-row-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* default, but explicit */
    height: 100%;
    /* ensures it fills the grid cell */
    text-align: left;
    padding-left: 24px;
    border-left: 2px solid #388E3C;
    position: relative;
    transition-duration: 0.2s;
}

.ln-item-part {
    display: block;
    width: calc(100vw / 6);
}

.ln-item-content {
    line-height: 1.5;
    text-align: left;
}

.ln-item-title {
    font: bolder 35px "Roboto", sans-serif;
    color: #317c34;
}

.ln-item-text {
    font: 400 20px "Roboto", sans-serif;
    color: #000;
    margin-bottom: 5px;
}

.ln-item-date,
.ln-item-time {
    font: bold 15px "Roboto", sans-serif;
    color: #000;
}

.ln-item-dateNtime {
    margin-top: auto;
}