/* Nav Stuff */
nav.nav-one {
    display: none;
    background: #388E3C;
    padding: 1rem 0;
    top: 0;
    z-index: 999;
}

.nav-two {
    background: #388E3C;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 998;
}

nav.fixed-nav {
    display: block;
    justify-self: center;
    position: fixed;
    top: 0;
    width: 100%;
    background: #388E3C;
}

nav button,
.nav-btn {
    background-color: #388E3C;
    border: none;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 2rem;
    padding: 3px 6px;
    cursor: pointer;
}

nav button:hover,
.nav-btn:hover {
    background-color: #2c7230;
}