/* Footer Stuff */
footer * {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #333;
    color: white;
    padding: 10px 0;
    position: relative;
    max-width: 100vw;
    bottom: 0;
}

footer a:hover {
    color: #4CAF50;
    text-decoration: underline;
}

#social-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#social-links>div>h3 {
    margin-bottom: 0;
}

#social-boxes {
    display: flex;
    justify-content: center;
}

#social-boxes>div>ul * {
    text-align: left;
    margin: 0.5px 0;
}

footer>.quick-links>h3 {
    margin: 10px 0 5px;
}

footer>.quick-links>a {
    padding: 0 5px;
}