/* Header Stuff */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4CAF50;
    color: white;
    padding: 20px 50px 0;
    z-index: 10;
}

header h1 {
    font-size: 5rem;
}

.logo img {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 31.5rem;
    max-width: 31.5rem;
    width: 100vw;
    height: 100vw;
    padding: 1.5rem 1.5rem 1.5rem 3rem;
    z-index: 1001;
}

#green-circal {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 34.5rem;
    max-width: 36rem;
    width: 100vw;
    height: calc(100vw - 1.5rem);
    background-color: #388E3C;
    border-radius: 0 50% 50% 0;
    z-index: 1000;
}